.gradient-bg {
	background-image: url("../../../public/images/header-bg.png");
	background-size: cover;
}

@media screen and (max-width: 600px) {
	.gradient-bg {
		background-image: url("../../../public/images/header-gradient-small-screen.png");
		background-size: cover;
	}
}

.effect {
	mix-blend-mode: exclusion;
}

@media screen and (min-height: 800px) {
	.angle {
		bottom: -35%;
	}
}
